
$white: #000;
$primary: $gray-400;
$list-group-bg: $gray-500;
$card-bg: $gray-600;
$card-color: $gray-300;
$card-cap-color: $gray-300;
$card-cap-bg: rgba($black, .2);
$card-border-width: $gray-100;
$body-bg: $gray-900;
$body-color: $gray-200;
$alert-bg-level: -5;
$alert-color-level: 10;